<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Disable App Sandbox for DMG distribution (GPL-licensed playfair lib + need Homebrew library access) -->
	<!-- Network and file access will work without sandbox restrictions -->
</dict>
</plist>
